<!-- <div class="container">
  <div class="button-container">
    <a href="#" routerLink="/home/addProduct" class="btn btn-success">Add Product</a>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Price</th>
        <th width="250px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.product_name }}</td>
       
        <td>
          <img [src]="product.image_url" alt="{{ product.product_name }}" class="img-thumbnail" style="max-width: 200px;">
        </td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.product_desc }}</td>
        <td>{{ product.price | currency: 'LKR' }}</td>
        <td>
          <button href="#" [routerLink]="['/home/', product.id, 'viewproduct']" class="action-btn  btn btn-success">View</button>
          <button href="#" [routerLink]="['/home/', product.id, 'edit']" class="action-btn btn btn-primary ">Edit</button>
          <button type="button" class="btn btn-danger action-btn" (click)="deletePost(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="button-container">
  <a href="#" routerLink="/home/addProduct" class="btn btn-success">Add Product</a>
</div>
<div class="container mt-4">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4">
      <div class="card mb-4">
        <img [src]="product.image_url" alt="{{ product.product_name }}" class="card-img-top">       
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">{{ product.product_desc }}</p>
          <p class="card-text"><strong>${{ product.price }}</strong></p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-primary" (click)="addToFavorites(product)" [routerLink]="['/home/', product.id, 'viewproduct']">
              <i class="fas fa-heart"></i> Favourite
            </button>
            <!-- <button class="btn btn-warning" (click)="addToCart(product)"> -->
              <button type="button" class="btn btn-danger action-btn" (click)="deletePost(product.id)">
              <i class="bi bi-cart-plus"></i> Delete
            </button>
            <button class="btn btn-success" (click)="buyNow(product)"  [routerLink]="['Payment',product.id,'cart']">
              <i class="fas fa-shopping-bag"></i> Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



